In [1]:
%pwd

'C:\\Users\\ramis969'

In [2]:
import pandas as pd

In [17]:
info=pd.read_excel('Laurynui.xlsx')
info

#Duomenų setą sukūriau naudodamas PowerBI SQL pagrįsta QUERY editorių, joininau lenteles naudodamas unique key - transaction ID
#Tikrajį package svorį sužinojau joinindamas lentelę naudodamas provider.invoices_amount vertę
#Teko išmesti lauk vertes kur buvo null values, nes nebūtų galima apskaičiuoti tiksliai datos tarp invoice ir transaction, o naudoti vidurkius nebūtų logiška, nes data nėra lygu skaičiui.
#Transaction_ID ir Tracking_Code turi būti unikalūs, taip pat sukūriau nauja stulpelį kuriame apskaičiuojama
#periodas tarp transakcijos ir sąskaitos išrašymo.
#apacioje screenshot query ataskaitos is powerbi
#https://ibb.co/7tyHmcC <- vykdyti queriai

,tracking_code,from_country,to_country,package_type_id,transaction_id,shipping_label_created,product_invoices.user_invoice_date,product_initiated_payments.transaction_processed_at,product_package_types.description,provider_invoices.amount,provider_prices.actual_package_size,Time_between_payment_andinvoice_indays,Unnamed: 12
0,31908336,FR,FR,10,193717093,31/10/2018 09:08:41,14/11/2018,31/10/2018 08:10:21,0.5kg,2.90,0.5 kg,13.659479,NaN
1,17669577,FR,FR,12,70130232,31/10/2017 15:34:46,13/11/2017,31/10/2017 12:59:30,2kg,3.23,1 kg,12.458681,NaN
2,27808800,FR,FR,10,155012601,31/08/2018 21:27:56,17/09/2018,31/08/2018 21:23:52,0.5kg,2.90,0.5 kg,16.108426,NaN
3,27814426,FR,FR,10,160014460,01/09/2018 07:09:31,11/09/2018,31/08/2018 12:39:53,0.5kg,2.90,0.5 kg,10.472303,NaN
4,27771400,FR,FR,10,159925565,31/08/2018 09:39:11,06/09/2018,31/08/2018 09:00:12,0.5kg,2.90,0.5 kg,5.624861,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,39506634,FR,FR,10,253631750,02/02/2019 01:06:59,10/02/2019,01/02/2019 21:30:21,0.5kg,2.90,0.5 kg,8.103924,NaN
527,39455699,FR,FR,11,253267744,01/02/2019 12:30:22,08/02/2019,01/02/2019 12:27:09,1kg,3.65,2 kg,6.481146,NaN
528,36778355,FR,FR,10,232492350,01/01/2019 20:56:18,11/01/2019,01/01/2019 19:47:52,0.5kg,2.90,0.5 kg,9.175093,NaN
529,36782294,FR,FR,10,232301120,01/01/2019 22:02:07,08/01/2019,01/01/2019 16:22:36,0.5kg,2.90,0.5 kg,6.317639,NaN
530,36774130,FR,FR,11,230644855,01/01/2019 20:02:45,14/01/2019,01/01/2019 15:38:30,1kg,3.23,1 kg,12.348264,NaN

In [10]:
info=info.drop('Unnamed: 12',axis=1)

In [26]:
#paziurim kiek vidutiniskai, daugiausiai ir maziausiai truko periodas tarp transakciju ir saskaitu israsymo
info['Time_between_payment_andinvoice_indays'].mean()

8.159797268431486

In [24]:
info['Time_between_payment_andinvoice_indays'].max()

119.48652777777897

In [25]:
info['Time_between_payment_andinvoice_indays'].min()

0.14885416666948004

In [33]:
#Nors ir naudoju subseta del mazo CPU mano PC (i5), bet subsetas aiskiai parodo, kad populiariausia valstybe FR, poto BE
info['from_country'].value_counts()

FR    526
BE      5
Name: from_country, dtype: int64

In [34]:
info['to_country'].value_counts()

FR    526
BE      4
ES      1
Name: to_country, dtype: int64

In [39]:
#matom, kad populiaurisi mazi siuntinukai - 0.5kg
info['provider_prices.actual_package_size'].value_counts()

0.5 kg    306
1 kg      140
2 kg       76
3 kg        8
5 kg        1
Name: provider_prices.actual_package_size, dtype: int64